.cardComponent{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--Section-Divider);
    border-radius: 20px;
    padding: 1.25rem 1rem;
    justify-content: center;
    align-items: center;
}

.cardComponent img{
    width: 40px;
    height: 40px;
}

.cardComponent h3{
    text-align: center;
    font-size: 1.25rem;
    font-family: Sora;
    font-weight: 600;
    color: var(--Text-Light);
}

.cardComponent p{
    font-size: 1rem;
    text-align: center;
    font-family: Inter;
    color: #545964;
    margin: 0;
}

@media screen and (max-width : 850px) {
    .cardComponent h3{
        font-size: 1.125rem;
    }

    .cardComponent p{
        font-size: 0.95rem;
    }

    .cardComponent img{
        width: 35px;
        height: 35px;
    }
}

@media screen and (max-width : 550px) {
    .cardComponent h3{
        font-size: 1rem;
    }

    .cardComponent p{
        font-size: 0.85rem;
    }

    .cardComponent img{
        width: 30px;
        height: 30px;
    }
}