---
import './styles/Footer.css'
---

<footer>
    <div class='footerContainer'>
        <div class='footerNavigation'>
            <h4>Navigation</h4>
            <ul>
                <li><a href="/docs">Docs</a></li>
                <li><a href="https://github.com/Gyanaa-Vaibhav/ipwho.org" target="_blank">GitHub</a></li>
                <li><a href="/home">API Status</a></li>
            </ul>
        </div>
        <div class='footerOpenSource'>
            <h4>Open Source</h4>
            <ul>
                <li><a href="https://github.com/Gyanaa-Vaibhav/IPWho.org/blob/main/LICENSE" target="_blank">MIT License</a></li>
                <li><a href="https://github.com/Gyanaa-Vaibhav/ipwho.org" target="_blank">Contribute on Github</a></li>
            </ul>
        </div>
        <div class='footerLegal'>
            <h4>Legal</h4>
            <ul>
                <li><a href="/legal/terms-and-condition">Terms and Condition</a></li>
                <li><a href="/legal/privacy-policy">Privacy Policy</a></li>
                <li><a href="/legal/code-of-conduct">Code of Conduct</a></li>
            </ul>
        </div>
    </div>
    <div class='credits'>© {new Date().getFullYear()} ipwho.org — Made with ❤️ by <a href="https://github.com/Gyanaa-Vaibhav">Gyanaa Vaibhav</a></div>
</footer>