.featureSection{
    margin: 30px 100px;
    min-height: 80vh;
}

.featureSectionTitle{
    font-size: 2rem;
    font-weight: 700;
    color: var(--Primary-Color);
    text-align: center;
    font-family: Sora;
}

.featureHolder{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

@media screen and (max-width : 850px) {
    .featureSection{
        margin: 30px 60px;
    }

    .featureSectionTitle{
        font-size: 1.75rem;
    }

    .featureHolder{
        gap: 30px;
    }
}

@media screen and (max-width : 550px) {
    .featureSection{
        margin: 30px;
    }

    .featureSectionTitle{
        font-size: 1.5rem;
    }

    .featureHolder{
        gap: 20px;
    }
}