---
const { title = "Placeholder" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Free IP Geolocation API — IPWho.org | {title}</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Free and fast IP geolocation API with JSON output. Get country, city, ASN, currency, and more. No API key, no Sign-up needed." />
		<!-- <meta name="keywords" content="IP geolocation API, IP lookup, IPWho, free IP API, IP to location, geolocation API, IP address lookup" /> -->
		<meta name="author" content="Gyanaa Vaibhav" />
		<meta name="robots" content="index, follow" />
		<link rel="canonical" href="https://ipwho.org/" />

		<!-- Open Graph -->
		<meta property="og:title" content="IPWho.org — Free IP Geolocation API" />
		<meta property="og:description" content="Get detailed IP data in JSON format: country, region, city, ASN, and currency. Fast & free for developers." />
		<meta property="og:image" content="https://ipwho.org/image.png" />
		<meta property="og:url" content="https://ipwho.org/" />
		<meta property="og:type" content="website" />

		<!-- Twitter Card -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="IPWho.org — Free IP Geolocation API" />
		<meta name="twitter:description" content="Accurate, fast IP lookup service for developers. No key needed." />
		<meta name="twitter:image" content="https://ipwho.org/image.png" />

		<!-- Favicon -->
		<link rel="icon" href="/favicon.svg" />
		<link rel="apple-touch-icon" href="/favicon.svg" />

		<script type="application/ld+json">
		{
		  "@context": "https://schema.org",
		  "@type": "Organization",
		  "name": "IPWho.org",
		  "url": "https://ipwho.org",
		  "logo": "https://ipwho.org/image.png",
		  "description": "Free and fast IP geolocation API for developers. Get location, ASN, currency and more.",
		  "sameAs": [
			"https://github.com/gyanaavaibhav/ipwho",
			"https://twitter.com/ipwho"
		  ]
		}
		</script>
	</head>
	<body>
		<slot />
	</body>
</html>