.FAQSection{
    margin: 50px auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.FAQSectionTitle{
    font-size: 2rem;
    font-weight: 700;
    color: var(--Primary-Color);
    text-align: center;
    font-family: HarmoniaSansPro-Semibold, sans-serif;
}

.faqHolder{
    margin-top: 50px;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
}

.faqComponentHolder{
    width: 100%;
}

.faqQuestion{
    text-align: left;
    width: 100%;
    display: flex;
    font-size: 1.15rem;
    align-items: center;
    color: var(--Primary-Color);
    border: none;
    border-radius: 10px;
    padding: 4px 12px;
    font-family: Graphik-Medium, serif;
    background-color: #e7e7e7;
    justify-content: space-between;
}

.faq-motion-wrapper{
    padding: 10px 8px 8px;
    font-family: Graphik-Regular, serif;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: -5px;
    font-size: 1rem;
    color: var(--Text-Light);
}

.faq-answer{
    color: var(--SecondaryColor);
}

@media screen and (max-width: 1120px){
    .FAQSection{
        margin: 50px 80px;
    }

    .FAQSectionTitle{
        font-size: 1.75rem;
    }
}

@media screen and (max-width : 850px) {
    .FAQSection{
        margin: 50px 60px;
    }

    .faqQuestion{
        font-size: 1rem;
    }

    .faq-answer{
        font-size: 0.95rem;
    }

}

@media screen and (max-width : 550px) {
    .FAQSection{
        margin: 30px;
    }

    .FAQSectionTitle{
        font-size: 1.25rem;
    }

    .faqQuestion{
        font-size:0.9rem;
    }

    .faq-answer{
        font-size: 0.85rem;
    }
}